/* * {
  background-color: rgba(0, 0, 0, 0.2);
} */
body {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  justify-items: center;
  align-items: center;
}

a {
  width: 220px;
  height: 85px;
  font-size: 40px;
  padding: 20px;
  background-color: grey;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
a:hover,
a:focus {
  background-color: darkblue;
}
